h1{color:orange ;background-color: black;font-size: 60px;font-family: tahoma ; right: 30%; text-align: center;}

h2{color:orange ; background-color: black;font-size: 40px;font-family: tahoma; text-align: center;}

p{color:orange ; background-color: black;font-size: 40px;font-family: tahoma; text-align: center;}

#tempo-jogo{color: black; font-size: 20px; right: 30%;}

#tamanho-frase{color: black; font-size: 20px; }

#caracteres-digitados{color: black;font-size: 20px; }

#palavras-digitadas{color: black;font-size: 20px; }

div{text-align: center; }



li{background-color: burlywood; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; size: 20px;}

th{ background-color: rgb(222, 184, 135); text-align: center;}

td{ background-color: rgb(222, 184, 135); text-align: center;}

#campo-digitacao{ background-color: burlywood;}

body{background-image: url(download.jpg);}

#botao-reiniciar{color: darkblue; background-color: azure;}

#tabela-resultado{background-color: burlywood;}

table{
    width: 100%;
    margin-bottom: 5em;
    table-layout: fixed;
    text-align: center;    }